.projectsContainer {
    background-image: url("https://media.tenor.com/5K5_SlXFOAwAAAAC/slowly-moving.gif");
    height: 80vh;
}

.ourProjectsTitle {
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
    -webkit-text-stroke: 0.15px black;
    text-shadow: 2px 2px 4px rgba(20, 171, 173, 0.5);
}

.ourProjectMainText {
    color: white;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-align: justify;
}

.mainTextContainer {
    margin-left: 15vh;
    margin-right: 15vh;
}

.offerText{
    color:rgba(20, 171, 173, 0.5);
}

.serviceTitle{
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    -webkit-text-stroke: 0.15px black;
    text-shadow: 2px 2px 4px rgba(20, 171, 173, 0.5);
}

.service{
    position: relative;
    top:5%;
    right:15%;
    background-color: rgba(30, 30, 30, 1);
    text-align: center;
    width: 28%;
    transform: translate(95%, 15%);
    cursor: pointer;
    border-radius: 10px;
    padding-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(20, 171, 173, 0.5);
    margin-bottom: 60px;
    margin-right: 165px;
}

.service:hover{
    scale: 1.02;
    transition: 0.3s;
}

.servicesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}






/* Media Query for Mobile Devices */
@media (max-width: 2560px) {
    .mainTextContainer {
        margin-left: 5vh;
        margin-right: 5vh;
    }

    .service {
        position: relative;
    top: 5%;
    right: 8%;
    background-color: rgba(30, 30, 30, 1);
    text-align: center;
    width: 10%;
    transform: translate(95%, 15%);
    cursor: pointer;
    border-radius: 10px;
    padding-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(20, 171, 173, 0.5);
    margin-bottom: 60px;
    margin-right: 165px;
    }
}


@media (max-width: 1440px) {
    .mainTextContainer {
        margin-left: 5vh;
        margin-right: 5vh;
    }

    .service {
        position: relative;
    top: 5%;
    right: 15%;
    width: 20%;
    padding: 20px;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 50px;
    margin-right: 300px;

    }
}


@media (max-width: 768px) {
    .mainTextContainer {
        margin-left: 5vh;
        margin-right: 5vh;
    }

    .service {
        position: relative;
        top: 5%;
        right: 1%;
        width: 24%;
        padding: 20px;
        text-align: center;
        padding-top: 0px;
        padding-bottom: 20px;
        padding-right: 31px;
        padding-left: 20px;
    }
}


@media (max-width: 425px) {
    .mainTextContainer {
        margin-left: 5vh;
        margin-right: 5vh;
    }

    .service {
        position: relative;
        top: 5%;
        left: -40%; /* Adjust as needed */
        width: 70%; /* Adjust as needed */
        padding: 20px;
        text-align: center;
        padding-top: 0px;
        padding-bottom: 20px;
        padding-right: 20px;
        padding-left: 20px;
    }
}

@media (max-width: 375px) {
    .mainTextContainer {
        margin-left: 5vh;
        margin-right: 5vh;
    }

    .service{
        position: relative;
        top:5%;
        left:-53%;
        width: 60%;
        padding-bottom: 20px;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 0px;
    }
}

@media (max-width: 320px) {
    .mainTextContainer {
        margin-left: 5vh;
        margin-right: 5vh;
    }

    .service{
        position: relative;
        top:5%;
        left:-70%;
        width: 60%;
        padding-bottom: 20px;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 0px;
    }
}



@media (max-width: 2560px) {
  .projectsContainer{
    height:50%;
  }
}